.meteo2{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 300ms ease;
    width: 900px;
    height: 250px;
    background: #FFFFFF;
    flex-shrink: 3;
}
